* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  height: 72px;
  background-color: #F55A5A;
  align-items: center;
  justify-content: center;
}

.world-logo {
  color: white;
  font-size: 2.5rem;
  margin-right: 7px;
}

.header-title {
  color: white;
}

.cards-list {
  margin-top: 50px;
}


.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto 40px;
}

.card-img {
  margin: 0 20px;
  height: 170px;
  width: 130px;
  border-radius: 10px;
}

.card-second-container {
  display: flex;
  flex-direction: column;
}

.card-location {
  margin: 0;
  padding-right: 12px;
}

.card-url {
  color: #918E9B;
}

.card-loc-url {
  display: flex;
  align-items: center;
}

.card-title {
  margin: 0;
  padding: 10px 0;
  font-size: 2rem;
}

h3, p {
  margin: 0;
}

.date{
  padding-bottom: 8px;
}

.geo {
  color: red;
}